{% extends "base.html" %}

{% block title %}Stocks{% endblock %}

{% block content %}
    
<div class="mt-5">
    <hr>
    {% include 'stock_settings.html' with context %}
    <hr>
    <h2 class="h4 mb-3">Set Alert</h2>
    <form action="{{ url_for('alert_add') }}" method="post" class="mb-3">
        <div class="mb-3">
            <input type="hidden" name="stock_id" value="{{ stock.id }}">
            <label for="stock_id" class="form-label">Stock : {{ stock.symbol }}</label>
        </div>
        {% include 'alert_indicators.html' with context %}
        <button type="submit" class="btn btn-primary">Set Alert</button>
    </form>
</div>
{% endblock %}