{% extends "base.html" %}

{% block title %}Stocks{% endblock %}

{% block content %}
    
<div class="mt-5">
    <hr>
    {% include 'stock_settings.html' with context %}
    <hr>
    {% include 'graph.html' with context %}
    <hr />
    <div class="mt-5">
        <h2 class="h4 mb-3">Alert Results</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Indicator</th>
                    <th>Period</th>
                    <th>Interval</th>
                    <th>Action</th>
                    <th>Threshold</th>
                    <th>Result</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for alert in data.alerts_results %}
                <tr>
                    <td>{{ alert.indicator_name }}</td>
                    <td>{{ alert.period_name }}</td>
                    <td>{{ alert.interval_name }}</td>
                    <td>{{ alert.action }}</td>
                    <td>{{ alert.threshold }}</td>
                    <td>{{ alert.result }}</td>
                    <td><form action="{{ url_for('alert_remove', id=alert.id) }}" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                    </form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <form action="{{ url_for('stock_check', id=stock.id) }}" method="post" class="mb-3">
            <input type="hidden" name="stock_id" value="{{ stock.id }}">
        <button type="submit" class="btn btn-primary">Verify stock alerts</button>
    </form>
    <hr>
    <h2 class="h4 mb-3">Set Alert</h2>
    <form action="{{ url_for('alert_add') }}" method="post" class="mb-3">
        <div class="mb-3">
            <input type="hidden" name="stock_id" value="{{ stock.id }}">
            <label for="stock_id" class="form-label">Stock : {{ stock.symbol }}</label>
        </div>
        {% include 'alert_indicators.html' with context %}
        <button type="submit" class="btn btn-primary">Set Alert</button>
    </form>
</div>
{% endblock %}